@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

div::-webkit-scrollbar {
  width: 2px;
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(126, 126, 126);
}
div::-webkit-scrollbar-track {
  background-color: #cdd1d8;
}
